<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload_perinfo</servlet-name>
        <servlet-class>upload_perinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetpasswordStep1</servlet-name>
        <servlet-class>ForgetPassword.ForgetpasswordStep1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetpasswordStep2</servlet-name>
        <servlet-class>ForgetPassword.ForgetpasswordStep2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadPersonalInfo</servlet-name>
        <servlet-class>uploaddata.UploadPersonalInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TruncateStuPerInfo</servlet-name>
        <servlet-class>truncatetables.TruncateStuPerInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetpasswordStepIntial</servlet-name>
        <servlet-class>ForgetPassword.ForgetpasswordStepIntial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertStudent</servlet-name>
        <servlet-class>insert.InsertStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload_perinfo</servlet-name>
        <url-pattern>/upload_perinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetpasswordStep1</servlet-name>
        <url-pattern>/ForgetpasswordStep1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetpasswordStep2</servlet-name>
        <url-pattern>/ForgetpasswordStep2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadPersonalInfo</servlet-name>
        <url-pattern>/UploadPersonalInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TruncateStuPerInfo</servlet-name>
        <url-pattern>/TruncateStuPerInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetpasswordStepIntial</servlet-name>
        <url-pattern>/ForgetpasswordStepIntial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertStudent</servlet-name>
        <url-pattern>/InsertStudent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>500</error-code>
        <location>/index.jsp</location>
    </error-page>
</web-app>
