            #body{
                background-color: #fff;
            }
            #table{
                background-color: #ffcccc;
            }
            #headtr:hover{
                background-color: grey;
                color:white;
            }
            .container_div{
               margin-top:20px;
               margin-left: 1%;
           }
        .image-preview-input {
            position: relative;
            overflow: hidden;
            margin: 0px;    
            color: #333;
            background-color: #fff;
            border-color: #ccc;    
        }
        .image-preview-input input[type=file] {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                padding: 0;
                font-size: 20px;
                cursor: pointer;
                opacity: 0;
                filter: alpha(opacity=0);
        }
        .image-preview-input-title {
            margin-left:2px;
        }
        #upload{
            display: inline-block;
            margin-top: 1%;
        }
        ul{
            list-style-type: none;
        }
